.coupleHPTitle {
  font-size: 80px !important;
}

.divCard {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.77);
  margin-bottom: 5%;
}

/* countdown */
.countdown {
  text-align: center;
  font-size: 84px;
  margin-top: 0px;
  font-family: "Josefin Sans", sans-serif;
}

.countdownCelebrate {
  background-image: url("../assets/img/celebration_countdown.jpg");
  font-size: 84px;
  color: #b2fefa;
}

.titleCoundownCelebrate {
  color: #ffc107;
}

.countdownContent {
  margin: 5%;
}

.countdownWrraperCelebrate {
  background-image: url("../assets/img/celebration_countdown.jpg");
}

.countdownWrraper {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
  border-top: 5px dotted #7a9fbb;
  border-bottom: 5px dotted #7a9fbb;
}

.taskViewTitle {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 4%;
}
.tasksViewWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
  border-radius: 18px;
  margin: auto auto 2rem auto;
  width: 85%;
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* budget bar */
.budgetBar {
  width: 90%;
  padding-top: 2%;
}
.progress {
  height: auto;
}

.budgetBarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 40%;
  margin-bottom: 7%;
}

.chart {
  padding: 1.5rem;
  width: 39%;
}

/* updates boards */

.updates {
  padding: 1rem;
  height: auto;
  width: 30%;
  position: relative;
}

.updatesWrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10%;
}

.viewMoreLink {
  position: absolute;
  bottom: 8px;
  color: black;
  font-size: 1em;
}

.linkPos {
  display: flex;
  justify-content: flex-end;
}

.delayTasks {
  color: white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background: #cb356b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bd3f32,
    #cb356b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bd3f32,
    #cb356b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.delayTasksIcon {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  font-size: 34px;
}

.tasksComing {
  color: white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background: #b2fefa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0ed2f7,
    #b2fefa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0ed2f7,
    #b2fefa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.updatesContent {
  font-size: 1.5em;
  text-align: center;
}
.updatesContentSpan {
  font-size: 1em;
  font-weight: bold;
}

.taskNameComing {
  margin-top: 10%;
}

.taskNameDelay {
  margin-bottom: 7%;
  margin-top: 3%;
}

.toP > p {
  font-size: 18px;
}

/* Responsive */

@media screen and (max-width: 1300px) {
  .budgetBarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 51%;
    margin-bottom: 7%;
  }

  .chart {
    padding: 1.5rem;
    width: 51%;
  }

  .updates {
    padding: 1rem;
    height: auto;
    width: 45%;
    position: relative;
  }

  .countdownWrraper {
    width: 61%;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    border-top: 5px dotted #7a9fbb;
    border-bottom: 5px dotted #7a9fbb;
  }
}

@media screen and (max-width: 990px) {
  .countdown {
    text-align: center;
    font-size: 75px;
    margin-top: 0px;
    font-family: "Josefin Sans", sans-serif;
  }
}

@media screen and (max-width: 910px) {
  .tasksViewWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
    border-radius: 18px;
    margin: auto auto 2rem auto;
    width: 92%;
    background: #e0eafc;
    background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc);
    background: linear-gradient(to right, #cfdef3, #e0eafc);
  }

  .budgetBarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 60%;
    margin-bottom: 7%;
  }

  .chart {
    padding: 1.5rem;
    width: 60%;
  }

  .updatesWrapper {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10%;
  }

  .countdownWrraper {
    width: 66%;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    border-top: 5px dotted #7a9fbb;
    border-bottom: 5px dotted #7a9fbb;
  }
}

@media screen and (max-width: 820px) {
  .countdown {
    text-align: center;
    font-size: 70px;
    margin-top: 0px;
    font-family: "Josefin Sans", sans-serif;
  }
}

@media screen and (max-width: 770px) {
  .budgetBarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 70%;
    margin-bottom: 7%;
  }

  .chart {
    padding: 1.5rem;
    width: 70%;
  }

  /* timetocelebrate */
  .countdown {
    text-align: center;
    font-size: 65px;
    margin-top: 0px;
    font-family: "Josefin Sans", sans-serif;
  }

  .updatesContent {
    font-size: 1.2em;
    text-align: center;
  }

  .toP > p {
    font-size: 15px;
  }
}

@media screen and (max-width: 670px) {
  /* timetocelebrate */
  .countdown {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    font-family: "Josefin Sans", sans-serif;
  }

  .budgetBarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 80%;
    margin-bottom: 7%;
  }

  .chart {
    padding: 1.5rem;
    width: 80%;
  }

  h2 {
    color: #e47f74;
    font-family: "Niconne", "cursive";
    font-size: 45px !important;
  }
}

@media screen and (max-width: 580px) {
  .countdownWrraper {
    width: 74%;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    border-top: 5px dotted #7a9fbb;
    border-bottom: 5px dotted #7a9fbb;
  }
  .tasksViewWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
    border-radius: 18px;
    margin: auto auto 2rem auto;
    width: 90%;
    background: #e0eafc;
    background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc);
    background: linear-gradient(to right, #cfdef3, #e0eafc);
  }

  .budgetBarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 90%;
    margin-bottom: 7%;
  }

  .chart {
    padding: 1.5rem;
    width: 90%;
  }

  .updatesWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;
  }

  .updates {
    padding: 1rem;
    height: 241px;
    width: 55%;
    position: relative;
    margin-bottom: 5%;
  }

  .delayTasksIcon {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    font-size: 29px;
  }

  .toP > p {
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  .countdown {
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    font-family: "Josefin Sans", sans-serif;
  }
}

@media screen and (max-width: 450px) {
  .budgetBarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 97%;
    margin-bottom: 7%;
  }

  .chart {
    padding: 1.5rem;
    width: 97%;
  }

  .updates {
    padding: 1rem;
    height: 241px;
    width: 70%;
    position: relative;
    margin-bottom: 5%;
  }

  .countdownWrraper {
    width: 82%;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    border-top: 5px dotted #7a9fbb;
    border-bottom: 5px dotted #7a9fbb;
  }
}

@media screen and (max-width: 360px) {
  .updates {
    padding: 1rem;
    height: 241px;
    width: 85%;
    position: relative;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 320px) {
  .countdownWrraper {
    width: 95%;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    border-top: 5px dotted #7a9fbb;
    border-bottom: 5px dotted #7a9fbb;
  }

  h2 {
    color: #e47f74;
    font-family: "Niconne", "cursive";
    font-size: 49px !important;
  }

  .coupleHPTitle {
    font-size: 60px !important;
  }

  .countdown {
    text-align: center;
    font-size: 51px;
    margin-top: 0px;
    font-family: "Josefin Sans", sans-serif;
  }
}
