.coupleHPTitle {
  font-size: 60px !important;
}

.dashboardWrapper {
  display: flex;
  flex-direction: row;
}

.dashRight {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.dashLeft {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.tasksViewWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.countdown {
  text-align: center;
  font-size: 84px;
  margin-top: 0px;
  font-family: "Josefin Sans", sans-serif;
}

.countdownWrraper {
  margin: auto;
  text-align: center;
}

/* budget bar */
.budgetBar {
  width: 90%;
}
.progress {
  height: auto;
}

.budgetBarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 40%;
  margin-bottom: 7%;
}

.divCard {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.77);
  margin-bottom: 5%;
}

.updates {
  padding: 1rem;
  height: auto;
  width: 30%;
  position: relative;
}

.updatesWrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10%;
}

.linkPos {
  position: absolute;
  bottom: 8px;
}

.delayTasks {
  color: white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background: #cb356b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bd3f32,
    #cb356b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bd3f32,
    #cb356b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.delayTasksIcon {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  font-size: 34px;
}

.tasksComing {
  color: white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background: #b2fefa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0ed2f7,
    #b2fefa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0ed2f7,
    #b2fefa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.updatesContent {
  font-size: 1.5em;
  text-align: center;
}
.updatesContentSpan {
  font-size: 1em;
  font-weight: bold;
}

.taskNameComing {
  margin-top: 10%;
}

.taskNameDelay {
  margin-bottom: 7%;
  margin-top: 3%;
}

.toP > p {
  font-size: 18px;
}
