#search_form input {
  width: 40%;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  display: inline-block;
  border: 1px solid #ccc;
}

#search_form {
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.no-offers{
  margin:auto;
  text-align: center;
}

.offers {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 3px;
}

.offers img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.add-offer {
  position: fixed !important;
  bottom: 5%;
  right: 5%;
  display: inline-block;
  background-color: #efa37e;
  color: white;
  border-radius: 50px;
  border-color: white;
  width: 60px;
  height: 60px;
  font-size: 36px;
  transition: 0.3s;
  outline: none !important;
}

dialog::backdrop {
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.2),
    rgba(255, 0, 0, 0.2) 1px,
    rgba(255, 0, 0, 0.3) 1px,
    rgba(255, 0, 0, 0.3) 20px
  );
}

dialog {
  background: #fff9f1 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: rgb(180, 179, 179);
}

#close {
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  border-style: none;
}

#myDialog h3 {
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}

.form-group i {
  visibility: hidden;
  top: 40px;
  right: 10px;
}

.form-group small {
  visibility: hidden;
}

.form-group.error small {
  visibility: visible;
  color: #e74c3c;
}

.form-group.success input {
  border-color: #2ecc71;
}

.form-group.error input {
  border-color: #e74c3c;
}
.form-group.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-group.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}
