.carouselWrapper {
  height: 100vh;
}

.carouselSlide {
  height: inherit;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: inherit;
}

.carousel-item {
  height: inherit;
}

.overlyCarousel {
  width: 50%;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.384);
  font-size: large;
  font-weight: bold;
  margin: auto auto 2% auto;
}

.carouselButton > button {
  outline: none;
  background: none;
  border: none;
  color: #fff;
  font-family: "Berkshire Swash", "cursive";
  transition: 0.2s;
}
.carouselButton > button:hover {
  font-size: larger;
}

.carousel-caption {
  position: absolute;
  /* right: 15%;
  bottom: 1.25rem;
  left: 15%; */
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

/* responsive */
@media screen and (max-width: 700px) {
  .overlyCarousel {
    width: 57%;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.384);
    font-size: large;
    font-weight: bold;
    margin: auto auto 3% auto;
  }
}

@media screen and (max-width: 540px) {
  .overlyCarousel {
    width: 67%;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.384);
    font-size: large;
    font-weight: bold;
    margin: auto auto 4% auto;
  }
}

@media screen and (max-width: 380px) {
  .overlyCarousel {
    width: 71%;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.384);
    font-size: large;
    font-weight: bold;
    margin: auto auto 5% auto;
  }
}

@media screen and (max-width: 320px) {
  .overlyCarousel {
    width: 73%;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.384);
    font-size: large;
    font-weight: bold;
    margin: auto auto 5% auto;
  }
}
