    main {
        max-width: 1000px;
        margin: auto;
    }

    p,
    h4 {
        text-align: center;
        text-decoration: right;
    }
    .show {
        display: block;
    }
    /* Style the buttons */
    
    .filtersec {
        align-content: center;
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
        text-align: center;
    }
    .portfolio-item {
        padding: 2px;
    }
    #categor-bth {
        letter-spacing: 0.0625em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
  
    #easy-filter-wrap {
        width: 100%
    }
    p.cartBootom {
        bottom: 0px;
        width: 100%;
        border-radius: 3px;
    }
    .Sbutton {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #8A2C47;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        border-radius: 3px;
    }
    .Sbutton:hover {
        opacity: 0.7;
    }
    .img-fluid {
        border-radius: 3px;
        image-resolution: from-image;
    }
    .buy {
        position: fixed;
        right: 6px;
        bottom: 50px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #8A2C47;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }
    
    #overlayf {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
        overflow: scroll;
    }
    #buyB {
        margin: 8px;
        float: left;
        position: relative;
        bottom: 0;
    }
    /*catalog*/
    /* the text under the img=row*/
    
    .Srow {
        margin: 10px -16px;
        background-color: #f1f1f1;
        overflow: auto;
    }
    /* Add padding BETWEEN each column */
    
    .Srow,
    .Srow > .column {
        padding: 8px;
    }
    /* Create three equal columns that floats next to each other */
    
    .column {
        float: right;
        width: 25%;
        /* Hide all elements by default */
        display: none;
    }
    /* Clear floats after rows */
    
    .Srow:after {
        content: "";
        clear: both;
    }
    /* Content */
    
    .Scontent {
        position: relative;
        background-color: white;
        height: 390px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }
    .styleImg {
        width: 70%;
    }
    table {
        border-collapse: collapse;
        text-decoration: right;
        width: 100%;
    }
    td {
        border-bottom: 1px solid #ddd;
        text-align: center;
        background-color: white;
        padding: 10px;
    }
    /*animation dog steps*/
    

    .containerani {
        margin-top: 100px;
    }
    .contain-animation {
        height: 150px;
    }
    .contain-dog {
        position: relative;
        margin: -50px auto;
        width: 870px;
        height: 200px;
    }
    .cover {
        position: absolute;
        top: -40px;
        left: 0;
        background: #fff;
        height: 180px;
        width: 800px;
        animation: walk 4s steps(7, end) infinite;
        -webkit-animation: walk 4s steps(7, end) infinite;
    }
    @keyframes walk {
        to {
            transform: translateX(755px);
        }
    }
    @-webkit-keyframes walk {
        to {
            -webkit-transform: translateX(755px);
        }
    }

.text-muted {
    color: black;
}