* {
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main .offer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 50px;
}

main .offer-list .offer {
  display: flex;
  border: 3px solid #cacaca;
  min-width: 950px;
}

main .offer-list .offer > img {
  border: 10px solid #cacaca;
}

main .offer-list .offer .info {
  width: 65%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 15px 0;
  gap: 20px;
}

main .offer-list .offer .info ul li {
  display: inline-block;
  margin: 0 30px;
}

main .offer-list .offer .info ul li:first-child {
  font-weight: bolder;
}

main .offer-list .offer .info .description {
  text-align: center;
  max-width: 690px;
  min-height: 100px;
  width: auto;
  height: auto;
  padding: 0 10px;
  border: 2px solid #cacaca;
}

main .offer-list .offer .controls {
  width: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .offer-list .offer .controls .trash-span {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

main .offer-list .offer .controls .switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}

main .offer-list .offer .controls .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main .offer-list .offer .controls .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main .offer-list .offer .controls .switch input:checked + .slider {
  background-color: #2196f3;
}

main .offer-list .offer .controls .switch input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

main .offer-list .offer .controls .switch .slider.round {
  border-radius: 34px;
}

main .offer-list .offer .controls .switch .slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 1023px) {
  main .offer-list .offer {
    min-width: 770px;
  }

  main .offer-list .offer .info .description {
    max-width: 510px;
  }
}

@media screen and (max-width: 768px) {
  main .offer-list {
    gap: 200px;
    padding: 150px 20px;
  }

  main .offer-list .offer {
    position: relative;
    flex-direction: column;
    min-width: 0;
    padding: 0 5px;
    border: 5px solid #cacaca;
  }

  main .offer-list .offer > img {
    width: 255px;
    height: 170px;
    position: absolute;
    top: -90px;
    right: 80px;
    border-radius: 25px;
  }

  main .offer-list .offer .info {
    width: 100%;
    margin-left: 0;
    margin-top: 140px;
  }

  main .offer-list .offer .info ul {
    display: flex;
  }

  main .offer-list .offer .info .description {
    max-width: 415px;
  }

  main .offer-list .offer .controls {
    width: 100%;
  }

  main .offer-list .offer .controls .switch {
    margin-bottom: 20px;
  }

  main .offer-list .offer .controls .trash-span {
    top: 25px;
    right: 20px;
  }
}

.image img {
  width: 200px !important;
  height: 200px !important;
  object-fit: cover !important;
}
