ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main .offer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 50px;
}

main .offer-list .offer {
  display: flex;
  width: 85%;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
  background-color: #ffffff;
}

main .offer-list .offer > img {
  border: 10px solid #cacaca;
}

main .offer-list .offer .info {
  width: 65%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

main .offer-list .offer .info ul li {
  display: inline-block;
  margin: 0 30px;
}

main .offer-list .offer .info ul li:first-child {
  font-weight: bolder;
}

main .offer-list .offer .info .description {
  text-align: center;
  max-width: 690px;
  width: auto;
  height: auto;
  padding: 0 10px;
  line-break: anywhere;
}

main .offer-list .offer .controls {
  width: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .offer-list .offer .controls .trash-span {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

main .offer-list .offer .controls .switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}

main .offer-list .offer .controls .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main .offer-list .offer .controls .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

main .offer-list .offer .controls .switch input:checked + .slider {
  background-color: #2196f3;
}

main .offer-list .offer .controls .switch input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

main .offer-list .offer .controls .switch .slider.round {
  border-radius: 34px;
}

main .offer-list .offer .controls .switch .slider.round:before {
  border-radius: 50%;
}

.image img {
  width: 200px !important;
  height: 200px !important;
  object-fit: cover !important;
}

.infolist,
.infolistitem {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  flex-direction: row;
}

/* responsive */

@media screen and (max-width: 1095px) {
  main .offer-list .offer {
    width: 90%;
  }

  main .offer-list .offer .info {
    width: 53%;
  }

  main .offer-list .offer .info ul li {
    margin: 0 20px;
  }
}

@media screen and (max-width: 888px) {
  main .offer-list .offer {
    width: 100%;
  }

  main .offer-list .offer .info ul li {
    margin: 0 17px;
  }

  main .offer-list .offer .info {
    width: 49%;
  }

  .infolist,
  .infolistitem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 660px) {
  .image img {
    width: 150px !important;
    height: 150px !important;
    object-fit: cover !important;
  }
  h2 {
    font-size: 44px !important;
  }

  h3 {
    font-size: 1.5rem !important;
  }

  .btn {
    font-size: 0.8rem;
    padding: 0.35rem 0.5rem;
  }

  p {
    margin-bottom: 0rem;
    font-size: 0.8rem;
  }

  main .offer-list {
    padding: 35px;
  }
}

@media screen and (max-width: 600px) {
  main .offer-list .offer {
    width: 110%;
  }

  main .offer-list .offer .info {
    width: 42%;
  }

  main .offer-list .offer .info ul li {
    margin: 0 10px;
  }
}

@media screen and (max-width: 435px) {
  main .offer-list .offer .info {
    margin-left: 0px;
  }

  h2 {
    font-size: 35px !important;
  }

  h3 {
    font-size: 1.2rem !important;
  }

  main .offer-list {
    padding: 29px;
  }

  h1 {
    font-size: 74px !important;
  }
}

@media screen and (max-width: 400px) {
  main .offer-list {
    padding: 23px;
  }

  .image img {
    width: 100px !important;
    height: 100px !important;
    object-fit: cover !important;
  }

  main .offer-list .offer .info {
    width: 48%;
  }

  main .offer-list .offer .info ul li {
    margin: 0 0px;
  }

  main .offer-list .offer {
    width: 115%;
  }

  main .offer-list .offer .controls {
    width: 26%;
  }
}
